@model IEnumerable<StudentService.Models.Course>


@foreach (var item in Model)
{
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="application">
            <div class="modal-content">

                <div class="social-line">
                    <a href="@Url.Action("pol", "Filtr", new { id = item.CourseCode, id2 = "2nd-mid" })" class="btn btn-just-icon btn-link">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <div class="modal-footer text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
}