@model IEnumerable<StudentService.Models.Task>

@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .row .col-md-9{
        background-color:#eee;
    }
</style>
    <div class="row">

        <div class="col-md-9 ml-auto mr-auto ">

            @foreach (var item in Model)
            {
                @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.TaskDetails).ToString()))

            }
        </div>
        <div class="col-md-2 mr-auto ml-auto stats">
            <h4 class="title">Stats</h4>
            <ul class="list-unstyled">
                <li><b>5</b> Courses</li>
                <li><b>10</b>Quizess </li>
                <li><b>20</b> Assingment</li>
                <li><b>3</b> Project</li>
            </ul>
            <hr>
            <h4 class="title">About his Work</h4>
            <p class="description">This website help Student to give him sample of quiz or material that he need to practice before exam</p>
            <hr>

        </div>

    </div>