@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <center>

        <div class="jumbotron" style="background-color:#9c27b0 ;position:center">

            <h1 style="color:#fff"><b>Something Great Coming Soon</b></h1>

        </div>

    </center>