
@{
    ViewBag.Title = "StudentService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <center>

        <div class="jumbotron" style="background-color:#9c27b0 ;margin-top:120px;">

            <h1 style="color:#fff"><b>Something Great Coming Soon</b></h1>

        </div>

    </center>